* {
  margin: 0;
  padding: 0;
}

.Identity {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4%;
}

.Image {
  margin-left: 5%;
}

.Bio {
  display: flex;
  justify-self: center;
  margin: 4%;
}
